---
Checks: >
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  readability-*,
  bugprone-*,
  modernize-*,
  performance-*,
  cert-*,
  cppcoreguidelines-*,
  hicpp-*,
  portability-*,
  -readability-uppercase-literal-suffix,
  -cert-dcl16-c,
  -hicpp-uppercase-literal-suffix,
  -readability-named-parameter,
  -hicpp-named-parameter,
  -readability-redundant-member-init,

FormatStyle: file

# warnings are NOT treated as errors
WarningsAsErrors: ""

# analyze all included headers (not system-headers)
HeaderFilterRegex: ".*"

...
